.header {
  width: 100%;
  height: 60px;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.linkContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  color: white;
  font-size: 25px;
}

.link {
  color: white;
  padding-left: 20px;
  text-decoration: none;
}

.link:hover {
  color: white;
  text-decoration: underline;
}
