.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginForm {
  width: 400px;
  padding-bottom: 50px;
}

.loginButtons {
  display: flex;
  flex-direction: column;
  width: 275px;
}
